/* Actor.css */

.custom-card {
    background-color: #C6A628 !important;
    border: 1px solid #C6A628 !important;
  }
  
  .table-custom {
    width: 100% !important;
    border-collapse: collapse !important;
  }
  
  .table-custom th, .table-custom td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
    text-align: left !important;
  }
  
  .table-custom th {
    background-color: #f4f4f4 !important;
  }
  
  .table-custom tbody tr:nth-child(odd) {
    background-color: rgba(220, 194, 47, 0.2) !important; /* #DCC22F with 20% opacity */
  }
  
  .table-custom tbody tr:nth-child(even) {
    background-color: #FFFFFF !important; /* Color for even rows */
  }
  
  .table-custom tbody tr:hover {
    background-color: #f1f1f1 !important; /* Optional: Color for hover effect */
  }
  